%tr
  %td{ :class => !row.allowed?(current_user) && "restricted" }
    = link_to row.name, row
  %td
    = row.description
  %td
    - if row.try(:last_conversation)
      Last post by 
      = row.last_conversation.last_post.author.name
      in 
      = link_to truncate(row.last_conversation.title), conversation_path(row.last_conversation.slug)
      