.column.wide-content
  %h2 #{current_community.name} Forums
  
  
  %table.lined
    %thead
      %tr
        %th
          Forum
        %th
          Description
        %th
          Last Post
    %tbody
      = render :partial => "forums/row", :collection => @forums
          
        
        